.example{

    font-weight: bold;
    margin-top: 20px;
    padding: 5px;
}

.exampleTitle{
 
  
    font-weight: 600;
    margin-top: 20px;
    padding: 5px;
}

blockquote{

   border-left: 5px solid #009688;

}

.test{

    

}

.disappear{
    display: none;
}

.delete{

    position: absolute;
    font-size: 5px;

    top: 10px;
  
    left: 5px;

  
  }

  .go{

    position: absolute;
    font-size: 5px;

    top: 10px;
  
    right: 5px;

  
  }
